body {
  background-color: black;
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}
h1 {
  color: slategray;
  text-align: center;
}

#calculator {
  min-width: 360px;
  max-width: 30%;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  padding-bottom: 10px;
}

#inputbox {
  margin-left: 8%;
}

#intrate {
  -webkit-appearance: none;
  width: 140px;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#intrate::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

#intrate::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#years,
input[type="number"] {
  -moz-appearance: textfield;
  border-radius: 3px;
  border-color: darkgray;
  border-width: 1px;
  border-style: solid;
}

button {
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: darkgray;
  border-width: 1px;
  border-style: solid;
}

#result > p {
  margin: 0px;
  padding: 0px;
  font-size: smaller;
}

.data {
  background-color: yellow;
}
